/** 
 * Pack d'icônes
 */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?q7b5dg');
  src:  url('fonts/icomoon.eot?q7b5dg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?q7b5dg') format('truetype'),
    url('fonts/icomoon.woff?q7b5dg') format('woff'),
    url('fonts/icomoon.svg?q7b5dg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Customized by Bibi */
  font-size: 80%;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e9bd";
}
.icon-cloud-upload:before {
  content: "\e9c3";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-loop2:before {
  content: "\ea2e";
}


/**
 * Styles généraux
 */

/**
 * Grosse font pour le vidéo-proj
 */
body {
  font-size: 100%;
  font-family: Arial, Helvetica;
}

/**
 * Styles des panneaux gauche-droite
 */
/*#left-panel,
#right-panel {
	font-family: Arial, Helvetica;
  position: absolute;
  top: 0;
  bottom: 0;
}
#left-panel {
  background: #fff;
  border-right: 1px solid #aaa;
  right: 39%;
  left: 0;
}
#right-panel {
  background: #f4f4f4;
  left: 59%;
  right: 0;
}*/

/* jQuery resizable: https://codepen.io/rstrahl/pen/eJZQej */
/* horizontal panel*/
html, body {
  height: 100%;
}
.panel-container {
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
  overflow: hidden;
  height: 100%;

  
  /* avoid browser level touch actions */
  xtouch-action: none;
}

.panel-left {
  position: relative;
  flex: 0 0 auto;
  /* only manually resize */
  /*padding: 10px;*/
  width: 50%;
  /*min-height: 200px;*/
  height: 100%;
  min-width: 150px;
  white-space: nowrap;
  background: #fff;
  color: #555;
}

.splitter {
  flex: 0 0 auto;
  width: 18px;
  background: url(../img/vsizegrip.png) center center no-repeat #ddd;
  min-height: 200px;
  cursor: col-resize;  
}

.panel-right {
  flex: 1 1 auto;
  /* resizable */
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  min-width: 200px;
  background: #eee;
}
#sandbox-iframe {
  border: none;
  width: 100%;
  height: 100%;
}
#sandbox-iframe.test-mode {
  max-height: 300px;
  margin-bottom: 10px;
}
.panel-inner {
  padding: 10px;
}
#site-menu{ position: fixed;top:0;right:0; }
/*.panel-left nav,
#add-example-form {
  display: inline-block;
}
.panel-left nav ul {
  padding-left: 0;
  margin: 0;
}
.panel-left nav ul li {
  display: inline-block;
}*/
#notification {
  color: #333;
  position: absolute;
  top: -100px;
  right: 10px;
  transition: top 1s;
}
.alert-box {
  text-align: center;
  border-radius: 3px;
  padding: 5px 10px;
}
#notification.active {
  top: 5px;
}
.alert-box.error {
  border: 1px solid #d42;
  background: #ffe8e0;
}
.alert-box.success {
  border: 1px solid #2d4;
  background: #e0ffe8;
}

/**
 * Styles généraux: liens, boutons, ...
 */
a {
  text-decoration: none;
  color: #59d;
}
a:hover {
  text-decoration: none;
  color: #37b;
}
button {
  border: none;
  border-radius: 3px;
  background: #fff;
  color: #555;
}
.input,
.btn {
  padding: 10px;
}
.input-sm,
.btn-sm {
  padding: 3px;
  font-size: 90%;
}
.input-xs {
  padding: 1px;
  font-size: 80%;
}
.input-light-border {
  border: 1px solid #f8f8f8;
}
.input-warning {
  border: 1px solid #cc5;
}
.input-error {
  border: 1px solid #e65;
}
.input-success {
  border: 1px solid #4c2;
}
[class^="icon-"].rounded,
[class*=" icon-"].rounded {
  border-radius: 10px;
  padding: 3px;
}
[class^="icon-"].rounded:hover,
[class*=" icon-"].rounded:hover {
  background: #ddd;
  color: #222;
}
button a {
  color: #fff;
}
button.active {
  background: #9ad;
}
/*button:hover {
  opacity: 0.6;
}*/
button.btn-lg {
  font-size: 120%;
}
textarea,
select,
input {
  border: 1px solid #ddd;
  border-radius: 3px;
}
.light-gray {
  background: #f4f4f4;
  color: #555;
}
.light-gray:hover {
  background: #ddd;
  color: #222;
}
.blue {
  background: #24d;
  color: #fff;
}
.red {
  background: #d42;
  color: #fff;
}
.green {
  background: #4b2;
  color: #fff;
}
#editor-js,
#editor-html,
#editor-css {
  /*display: none;*/
  position: absolute;
  top: 510px;
}

/**
 * Styles pour l'éditeur Ace
 */
#editor-wrapper,
#editor {
  position: absolute;
  bottom: 0;
  width: 100%;
}
#editor-wrapper {
  top: 145px;
}

#editor {
  font-size: 90%;
  border-top: 3px solid #ddd;
  top: 22px;
  left: 0;
}

#navbar {
  height: 49px;
  border-bottom: 1px solid #ddd;
  font-size: 26px;
}
#navbar a {
  color: #555;
}
#navbar a:hover,
#navbar button:hover {
  color: #777;
}

#nav-menus {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  transition: all 0.2s;
  z-index: 100;
  color: #000;
  background: rgba(248, 248, 248, 1);
  padding: 10px 0;
}

#menu-example .cat-title {
  text-transform: uppercase;
}

#nav-menus.in {
  width: 540px;
  padding: 10px;
}
#nav-menus .pure-u-1 {
  padding: 10px;
  box-sizing: border-box;
}

#nav-menus ul {
  padding-left: 0;
  margin-top: 5px;
}
#menu-btn:focus {
  outline: none;
}
/* Menus de nav */
#nav-menus {
}
#nav-menus li {
 list-style-type: none;
}
#menu-example {
  overflow: 
}
#menu-example > li {
  display: block;
  float:left;
  vertical-align: top;
  width: 50%;
}
.nav-menu a {
  color: #58c;
}
.nav-menu a:hover {
  color: #7af;
}

#tabs, #add-file {
  display: inline-block;
  /*font-size: 16px;*/
  position: relative;
  vertical-align: bottom;
  margin: 0;
}
#tabs {
  padding-left: 10px;
}
#add-file {
  padding-left: 5px;
}
#tabs li,
#add-file li {
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  display: inline;
  box-sizing: border-box;
  padding: 4px 8px;
}
.tab-html {
  background: #cef;
}
.tab-js {
  background: #ffb;
}
.tab-css {
  background: #fce;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.hidden {
  display: none;
}
.h-collapsed {
  box-sizing: border-box;
  max-width: 0;
  padding-left: 0;
  padding-right: 0;
  transition: 0.3s;
  overflow: hidden;
}
.h-collapsed.fast {
  transition: 0.2s;
}
.h-collapsed.in {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 350px;
}
.h-collapsed input[type="text"] {
  margin: 2px;
  padding-left: 10px;
}
.details-div section {
  vertical-align: middle;
}
.details-div button {
  margin-top: 3px;
}
#details-repo,
#details-example,
.details-div div.bold {
  margin: 10px 0;
}
.details-div .left {
  width: 310px;
}
.bold {
  font-weight: bold;
}
.dirty {
  color: #339;
}
#tabs .icon-cloud-upload {
  display: none;
}
#tabs .dirty .icon-cloud-upload {
  display: inline;
  color: #33c;
}
.details-div .btn-form {
  margin: 8px 0 10px 20px;
}