body {
	background: #f4f4f4;
	font-family: Arial, Helvetica;
}
.container {
  margin: 150px auto;
	background: #fff;
	border: 1px solid #eee;
	padding: 30px;
	width: 600px;
}
button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 3px;
}
.blue {
  background: #24d;
}
.red {
  background: #d42;
}
input {
  border: 1px solid #ddd;  
  padding: 8px;
  border-radius: 3px;
}